<header> 
    <div class = "header-logo">
        <div class = "header-logo-img">
            <a href = "/homepage-page"><img src="https://logos-world.net/wp-content/uploads/2020/10/Reddit-Emblem-700x394.png" alt="logo"></a>
        </div>

        <div class = "header-logo-word">
            <strong> Redesign </strong>
        </div>
    </div>

    <div class="header-text">
        <a href="/profile"> Profile </a>  {{!-- {{Change after login is impelemented}} --}}
        <p>|</p>
        <a href="/logout"> Logout </a>
    </div>
</header>