<header> 
    <div class = "header-logo">
        <div class = "header-logo-img">
            <a href = "/homepage-page"><img src="https://logos-world.net/wp-content/uploads/2020/10/Reddit-Emblem-700x394.png" alt="logo"></a>
        </div>

        <div class = "header-logo-word">
            <strong> Redesign </strong>
        </div>
    </div>

    <form action="/search" method="GET" class="header-search">

        <div class="tag-search"><input type="text" name="tag" placeholder="tag"></div>
        <div class="body-search"><input type="text" name="search" placeholder="Search.."></div>
        <button type="submit">Search</button>
    </form>


    <div class="header-text">
        <a href="/profile"> Profile </a>  {{!-- {{Change after login is impelemented}} --}}
        <p>|</p>
        <a href="/"> Logout </a>
    </div>
</header>
