*{
    margin: 0;
    padding: 0px;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display:grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header header"
    "sidebar main";
}

header{
    top: 0;
    position: sticky;
    grid-area: header;
    color: white;
    background-color: orangered;
    display: flex;  
    padding: 10px 20px;     
    justify-content: space-between;
}

.header-logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    justify-content: flex-start;
    gap:0 ;
}

.header-logo-img img{
    width: 120px; 
}

.header-logo-word{
    color: white;
    font-size: 30px;
}

.header-search{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 50px;
}

.header-text p{
    margin: 0 10px;
}

header a:hover{
    background-color: darkgray;
    border-radius: 200px;
}

header a:link{
    color:white;
    text-decoration: none;

}
header a:visited{
    color:white;
    text-decoration: none;

}
header a:active {
    color: white;
    text-decoration: none;
}

aside{
    height: calc(100vh - 94.53px);
    top: 94.53px;
    position:sticky;
    align-self: start;
    grid-area: sidebar;
    border-right: 1px solid black;
}

main{
    grid-area: main;
    padding: 20px;
}