{{> header}}


<body>
    <div class="posting-area">
        <h1>Create Post</h1>
        <form action="/homepage.html">
            <label for="title"></label>
            <input type="text" id="title" name="title" placeholder="title"><br>
            <label for="post_area"></label>
            <textarea rows ="10" cols = "50" id="post_area" name="post_area" placeholder="What's on your mind?"></textarea><br>
            <label for="tags"></label>
            <input type="text" id="tags" name="tags" placeholder="tag"><br>
            <input type="submit" value="Post"></form><br>
        </form>
    </div>
</body>