{{> header}}

<body>
    <div class="posting-area">
        <h1>Create Post</h1>
        <form action="/add-post" method="post">
            <input type="text" id="title" name="title" placeholder="Title" required><br>

            <textarea rows="10" cols="50" id="post_area" name="content" placeholder="What's on your mind?" required></textarea><br>

            <input type="text" id="tags" name="tag" placeholder="Tag"><br>

            <input type="submit" value="Post">
        </form>
    </div>
</body>