{{> header}}

<body>
    <div class="posting-area">
        <h1>Edit Post</h1>
        <form action="/homepage.html">
            <label for="title">Title</label><br>
            <textarea type="text" id="title" name="title" placeholder="Title">{{title}}</textarea><br>
            <label for="post_area">Post Text</label><br>
            <textarea rows ="13" cols = "50" id="post_area" name="post_area" placeholder="What would you like to change?">{{content}}</textarea><br>
            <label for="tags">Tags</label><br>
            <textarea rows ="5" cols = "50" id="tags" name="tags" placeholder="Tags">#{{tag}}</textarea><br>
            <input type="submit" value="Post"></form><br>
        </form>
    </div>
</body>