{{> header}}

    <aside> 
        <p class="sidebar-titles"> POPULAR TAGS </p>

        <a href = "populartags.html"><div class = "sidebar-populartags">
            <p class = "sidebar-tag"><b> AITA </b></p>
            <p class = "sidebar-smaller"> 1 Post </p>
        </div></a>

        <a href = "populartags.html"><div class = "sidebar-populartags">
            <p class = "sidebar-tag"><b> Mouse Problems </b></p>
            <p class = "sidebar-smaller"> 1 Post </p>
        </div></a>

        <a href = "populartags.html"><div class = "sidebar-populartags">
            <p class = "sidebar-tag"><b> Food </b></p>
            <p class = "sidebar-smaller"> 1 Post </p>
        </div></a>

        <a href = "populartags.html"><div class = "sidebar-populartags">
            <p class = "sidebar-tag"><b> Cartoon </b></p>
            <p class = "sidebar-smaller"> 1 Post </p>
        </div></a>

        <a href = "populartags.html"><div class = "sidebar-populartags">
            <p class = "sidebar-tag"><b> Gym Bros </b></p>
            <p class = "sidebar-smaller"> 1 Post </p>
        </div></a>
    </aside>


    <main> 
        <div> 
            <a href ="addpost.html"><div class="post-bar">
                <img src="Header Elements/Jerry_lobby_sprite.webp" alt="Profile Button">
                <textarea name="Search" id="" placeholder="Create a Post!"></textarea>
            </div></a>
        </div>

        <div class="posts-section">
            <div class="posts-edit">
                <div class="posts-icon">
                <a href = "profile.html"> <img src="Header Elements/Jerry_lobby_sprite.webp" alt="Profile Button"> </a>
                <p><b>@anonymouse</b></p> 
                </div>
                <div class="edit-post">
                    <a href = "editpost.html"><img src="Header Elements/pencil-square-svgrepo-com.png" alt="Pencil"></a>
                    <p>Edit Post</p>
                </div>
                   
            </div>
            <strong> AITA For being faster </strong>
            <span class="flair">AITA</span> 
            <p class = "paragraph">
                Tom the Cat is my rival. He is always trying to catch me but I always outsmart him.
            </p>
            <hr class="hr-orange-smaller">
            <div class="posts-stats">
                <img id = "like" src="Header Elements/heart.png" alt="like" onclick = "changeImageLike()">
                <p>14 Likes</p>
                <img id = "dislike" src="Header Elements/broken-heart.png" alt="dislike" onclick = "changeImageDislike()">
                <p>1 Dislike</p>
                <a href="postpage.html"> <img src="Header Elements/comment.png" alt="comment"></a>
                <p>4 Comments</p>
            </div>
        </div>

        <div class="posts-section">
            <div class="posts-edit">
                <div class="posts-icon">
                <a href = "profile.html"> <img src="Header Elements/tom the cat.jpg" alt="Profile Button"> </a>
                <p><b>@anonycat</b></p> 
                </div>
                <div class="edit-post">
                    <a href = "editpost.html"><img src="Header Elements/pencil-square-svgrepo-com.png" alt="Pencil"></a>
                    <p>Edit Post</p>
                </div>
                   
            </div>
            <strong> Grrrr!! That mouse! </strong>
            <span class="flair">Mouse Problems</span> 
            <p class = "paragraph">
                Help, how do I get rid of a mouse?
            </p>
            <hr class="hr-orange-smaller">
            <div class="posts-stats">
                <img id = "like" src="Header Elements/heart.png" alt="like" onclick = "changeImageLike()">
                <p>14 Likes</p>
                <img id = "dislike" src="Header Elements/broken-heart.png" alt="dislike" onclick = "changeImageDislike()">
                <p>1 Dislike</p>
                <a href="postpage.html"> <img src="Header Elements/comment.png" alt="comment"></a>
                <p>4 Comments</p>
            </div>
        </div>

        <div class="posts-section">
            <div class="posts-edit">
                <div class="posts-icon">
                <a href = "profile.html"> <img src="Header Elements/spike.jpg" alt="Profile Button"> </a>
                <p><b>@anonydog</b></p> 
                </div>
                <div class="edit-post">
                    <a href = "editpost.html"><img src="Header Elements/pencil-square-svgrepo-com.png" alt="Pencil"></a>
                    <p>Edit Post</p>
                </div>
                   
            </div>
            <strong> Dog Food Recommendation</strong>
            <span class="flair">Food</span> 
            <p class = "paragraph">
                What's the best food for my dog?
            </p>
            <hr class="hr-orange-smaller">
            <div class="posts-stats">
                <img id = "like" src="Header Elements/heart.png" alt="like" onclick = "changeImageLike()">
                <p>14 Likes</p>
                <img id = "dislike" src="Header Elements/broken-heart.png" alt="dislike" onclick = "changeImageDislike()">
                <p>1 Dislike</p>
                <a href="postpage.html"> <img src="Header Elements/comment.png" alt="comment"></a>
                <p>4 Comments</p>
            </div>
        </div>

        <div class="posts-section">
            <div class="posts-edit">
                <div class="posts-icon">
                <a href = "profile.html"> <img src="Header Elements/bugs.png" alt="Profile Button"> </a>
                <p><b>@BugsBunny</b></p> 
                </div>
                <div class="edit-post">
                    <a href = "editpost.html"><img src="Header Elements/pencil-square-svgrepo-com.png" alt="Pencil"></a>
                    <p>Edit Post</p>
                </div>
                   
            </div>
            <strong> Cartoon Reco</strong>
            <span class="flair">Cartoon</span> 
            <p class = "paragraph">
                Tom and Jerry or Looney Tunes?
            </p>
            <hr class="hr-orange-smaller">
            <div class="posts-stats">
                <img id = "like" src="Header Elements/heart.png" alt="like" onclick = "changeImageLike()">
                <p>14 Likes</p>
                <img id = "dislike" src="Header Elements/broken-heart.png" alt="dislike" onclick = "changeImageDislike()">
                <p>1 Dislike</p>
                <a href="postpage.html"> <img src="Header Elements/comment.png" alt="comment"></a>
                <p>4 Comments</p>
            </div>
        </div>

        <div class="posts-section">
            <div class="posts-edit">
                <div class="posts-icon">
                <a href = "profile.html"> <img src="Header Elements/musclemouse.webp" alt="Profile Button"> </a>
                <p><b>@anonymuscle</b></p> 
                </div>
                <div class="edit-post">
                    <a href = "editpost.html"><img src="Header Elements/pencil-square-svgrepo-com.png" alt="Pencil"></a>
                    <p>Edit Post</p>
                </div>
                   
            </div>
            <strong> Link?</strong>
            <span class="flair">Gym Bros</span> 
            <p class = "paragraph">
                Who g to go to Planet Fitness later?
            </p>
            <hr class="hr-orange-smaller">
            <div class="posts-stats">
                <img id = "like" src="Header Elements/heart.png" alt="like" onclick = "changeImageLike()">
                <p>14 Likes</p>
                <img id = "dislike" src="Header Elements/broken-heart.png" alt="dislike" onclick = "changeImageDislike()">
                <p>1 Dislike</p>
                <a href="postpage.html"> <img src="Header Elements/comment.png" alt="comment"></a>
                <p>4 Comments</p>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <p>Redesign 2025</p>
            </div>
        </div>
    </footer>
